/.HypoMethodRuntimeModule.java._trace
/.HypoMethodRuntimeModule.xtendbin
/.HypoMethodStandaloneSetup.java._trace
/.HypoMethodStandaloneSetup.xtendbin
/HypoMethodRuntimeModule.java
/HypoMethodStandaloneSetup.java
