/.HypoMethodDescriptionLabelProvider.java._trace
/.HypoMethodDescriptionLabelProvider.xtendbin
/.HypoMethodLabelProvider.java._trace
/.HypoMethodLabelProvider.xtendbin
/HypoMethodDescriptionLabelProvider.java
/HypoMethodLabelProvider.java
