<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SEDML -->
      <package
            uri="http://sed-ml.org/"
            class="SEDML.SEDMLPackage"
            genModel="src/outputmodel/SEDML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Sedml -->
      <package
            uri="http://www.ceng.metu.edu.tr/~e1774785/megamodel/sedml"
            class="sedml.SedmlPackage"
            genModel="model/sedml/Sedml.genmodel"/>
   </extension>

</plugin>
