<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SEDML -->
      <package
            uri="http://sed-ml.org/"
            class="SEDML.SEDMLPackage"
            genModel="src/outputmodel/SEDML.genmodel"/>
   </extension>

</plugin>
